body{
    background-color: black;
}

h1{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

p{
    color: #fff;
    text-align: center;
}

.link{
    text-align: center;
}

.yt{
    text-align: center;
}


.video{
    text-align: center;
}